html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#mySidenav a {
    position: fixed;
    /* Position them relative to the browser window */
    left: -80px;

    /* Position them outside of the screen */
    margin-top: 200px;
    transition: 0.3s;
    /* Add transition on hover */
    padding: 15px;
    /* 15px padding */
    width: 120px;
    /* Set a specific width */
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    /* Increase font size */
    color: white;
    /* White text color */
    border-radius: 0 50px 50px 0;
    /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0;
    /* On mouse-over, make the elements appear as they should */
}


#homepage {
    top: 20px;
    background-color: #4CAF50;
}



#aboutpage {
    top: 82px;
    background-color: #f44336;
    /* Red */
}
/*custom scrollbar*/
::-webkit-scrollbar {
    /*the scrollbar.*/
    width: 10px;
    background-color: #111827;

}



::-webkit-scrollbar-thumb {
    border-radius: 50in;
    background-color: #4a5568;
    /* the draggable scrolling handle.*/
}
div#title1 {

    font-family: 'Comfortaa', cursive;

    margin: 10px auto;
    text-align: center;
    position: relative;
    max-width: 800px;
    padding: 50px;

    color: rgba(255, 255, 255, 0.596);

    background: rgba(22, 30, 45, 0.9);

    box-shadow: 0 5px 15px rgba(101, 140, 248, 0.5);

    border-radius: 20px;

}
div#q1, div#q2, div#q3, div#q4, div#q5, div#q6, div#q7, div#q8, div#q9, div#q10{
    font-family: 'Comfortaa', cursive;

    margin: 10px auto;

    position: relative;
    max-width: 800px;
    padding: 50px;

    color: rgba(255, 255, 255, 0.596);
    background: rgba(22, 30, 45, 0.9);


    box-shadow: 0 5px 15px rgba(101, 140, 248, 0.5);

    border-radius: 20px;
}

div#submitbutton {

    font-family: 'Comfortaa', cursive;

    margin: 10px auto;
    text-align: center;
    position: relative;
    max-width: 800px;
    padding: 50px;

    color: rgba(255, 255, 255, 0.596);

    background: rgba(22, 30, 45, 0.9);


    box-shadow: 0 5px 15px rgba(101, 140, 248, 0.5);

    border-radius: 20px;

}

